PROJECT_SLUG=replace_me
PROJECT_TYPE=plugin
COMPOSE_FILE=docker-compose.yml
DB_NAME=replace_me_dev
DB_TEST_NAME=replace_me_test
DB_USER=wp
DB_PASSWORD=wp
DB_ROOT_PASSWORD=change_me
DB_TEST_HOST=db_test
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=change_me
WP_ADMIN_EMAIL=admin@example.com
WP_TITLE=Dev Site
HOST_WP_CONTENT_PATH=/var/www/html/wp-content
CHROMEDRIVER_PORT=9515
